*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
}
/* navigation bar css start*/

nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 15px 30px;
    box-shadow: lightgray 1px 1px 1px;
    
}

nav h1
{
    margin-left: 10%;
    font-size: 1.2rem;
    color: rgb(49, 120, 123);

}

nav ul
{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 20px;
    text-decoration: none;
    padding-right: 10%;

}

nav li
{
    width: 70px;

}

nav ul li a
{
    text-decoration: none;
    color: cadetblue;
    font-size: 1.1rem;
    cursor: pointer;
    transition-timing-function: ease-out;
    font-weight: bold;
}


nav ul li a:hover
{
    border-bottom: 4px solid cadetblue;
    color: rgb(66, 66, 251);
    transition: 0.2s;
}

.hide
{
    top: 70px;
}

nav button
{
    width: 8rem;
    height: 2rem;
    border-radius: 1vh;
    cursor: pointer;
    background-color: lightblue;
    color: white;
    margin-right: 10%;
    font-weight: bold;
    letter-spacing: 2px;
    border: none;
}

nav button:hover
{
    border: none;
    background-color: transparent;
    border: 3px solid lightblue;
    color: black;
}

/* hamburger css start */
@media screen and (max-width: 700px)
{
    .hamburger
    {
        display: flex;
        flex-direction: column;
        gap: 3px;
        cursor: pointer;
        padding: 5px;
        margin-right: 35px;
        transition: all 0.3s ease-in-out;
    }   
    
    .hamburger.open span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 5px);
      }
      
      .hamburger.open span:nth-child(2) {
        opacity: 0;
      }
      
      .hamburger.open span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -5px);
      }

    .lines
    {
        display: block;
        height: 3px;
        width: 25px;
        background-color: black;
        transition: all 0.3s ease-in-out;
        transition-timing-function: ease-in;
    }

    .lines-rotate
    {
        border-radius: 5px;
    }

    nav
    {
        position: relative;
        padding: 30px 20px;
        box-shadow: none;
    }

    nav ul
    {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -300px;
        right: 0;
        background-color: white;
        padding: 35px 0;
        border-radius: 0 0 20px 20px;
        transition-timing-function: ease-in-out;
    }

    nav ul li a
    {
        color: black;
        font-size: large;
        font-weight: bolder;
        letter-spacing: 3px;
        line-height: 30px;
    }

    li
    {
        text-align: left;
        width: 90vw;
        margin-right: 15%;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    nav ul li a:hover
    {
        font-weight: bolder;
        border-bottom: 3px solid lightblue;
        letter-spacing: 4px;
        color: rgb(163, 148, 148);
    }

    nav h1
    {
        font-size: 15px;
        letter-spacing: 2px;
        color: black;
    }

    nav button
    {
        display: none;
    }

}

/* navigation bar css end*/